
body {
    background-color: rgb(236, 228, 228);
  }

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

h1   {color: black;
  font-family: Georgia;
font-size: 150%;
}

h2   {color: black;
  font-family: Georgia;
font-size: 100%
}

p    {color: black;
  font-family: Helvetica;
font: size 100%;
}

li    {color: black;
  font-family: Helvetica;
font-size: 100%;
}
